body{ 
    font-family: serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
header{
	width: 100%;
	height: 100px;
	background-color: #03a9f4;
}
header nav{
	float: right;
	overflow: none;
	width: 800px;
	margin-top:40px;
}
header h1{
	float: left;
	font-variant: small-caps;
        
	font-size: 35px;
}
header img{
	float: left;
	background: green ;
	width: 150px;
	margin:-25px 2px 50px 22px;
}
h1{
	font-variant: small-caps;
        
	font-size: 35px;
	
}
nav a{
	width: 10%;
	height: 10%;
	padding: 1%;
	margin: 5%;
	color: black;
	background-color: white;
	text-decoration: none;
	border-radius: 10%;
}
nav a:hover{
	color: red;
}
.current{
	color: red;
}
.first{
	height:800px;
}
.first::before{
	content: "";
	position: absolute;
	top:100px;
	left:0px;
	bottom:-150px;
	right:0px;
	opacity: 0.85;
	background-image: url("../images/home.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.first a{
	position: absolute;
	text-decoration: none;

	top: 500px;
	left: 700px;
        
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    width: 150px;
    text-align: center;
    padding-top: 20px;

}
.first a:hover{
    cursor: pointer;
    background: #ffc107;

    color: #000;

}
blockquote{
	position: absolute;
	top: 80px;
        color: #e91e63 ;
	font-size: 50px;
	font-style: italic;
	font-weight: bold;
        
}
p{
	display: inline-block;
        
	width: 600px;
	float: left;
	font-size: 30px;
}
article img{
	width: 500px;
	height: 500px;
	border:black solid; 
	display: inline-block;
	margin-left: 150px;

}

footer{
	background:linear-gradient(#d8b5ff,#1eae98);
	background-color: #4b6977;
	color: white;
	font-size: 20px;
}



#adminbody{

    background-image: url(../images/pic1.jpg);
    background-size: cover;
    background-position: center;
}
#userbody{
    background-image: url(../images/pic2.jpg);
    background-size: cover;
    background-position: center;
}
#volunteerbody::before{
	height: 1100px;
	content: "";
	position: absolute;
	top:100px;
	left:0px;
	right: 0px;
	bottom:0px;
    background-image: url(../images/pic4.jpg);
    background-size: cover;
    background-repeat: no-repeat;	
    opacity: 0.70;

}
.loginbox{
    width: 400px;
    height: 420px;
    color: white;
    top: 120px;
    left: 40%;
    position: absolute;
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: calc(50% - 50px);
}


.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #000000;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}
.loginbox input[type="button"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.loginbox input[type="button"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.loginbox a{
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    color: white;
}

.loginbox a:hover
{
    color: #ffc107;
}

#middle{
	padding-left: 140px;
	font-size: 25px;
}

.volunteerbox{
    width: 600px;
    height: 850px;
    position: absolute;
    top:180px;
    left: 40%;
    color: black;
    box-sizing: border-box;

}

.volunteerbox h1{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.volunteerbox input{
	border: none;
    border-bottom: 1px solid #000000;
    background:transparent;
    outline: none;
    color: black;
    font-size: 16px;

}
.volunteerbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    width: 24%;
}
.volunteerbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.volunteerbox textarea{
	border: none;
    border-bottom: 1px solid #000000;
    background:transparent;
    outline: none;
    color: black;
    font-size: 16px;
}
.volunteerbox select{
	border: none;
    border-bottom: 1px solid #000000;
    background:transparent;
    outline: none;
    color: black;
    font-size: 16px;
}
.volunteerbox option{
    color: #000000;
}
#volunteerbody p{
    font-size:25px;
    width: 1500px;
    position: absolute;
    left: 10px;
    top: 100px; 
    bottom: 0px;
    right: 0px;
}
#volunteerbody footer{
	position: relative;
	top: 1150px;
	clear: both;
}
#userlogin{
	display: block;
}
#usersignup{
	display: none;
}
.aboutbox {
	height: 925px;
}
#aboutusbody::before{
    height: 925px;
	content: "";
	background-image: url(../images/about.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   
    position: absolute;
    top: 100px;
    right: 0px;
    bottom: -200px;
    left: 0px;
}
.aboutbox div {
	font-weight: bold;
	top: 120px;
	width: 100%;
	position: absolute;
	font-size: 30px;

}
details{
    display: block;
    font-weight: 
}
details summary{
    font-weight: bold;
    width: 1400px;
    display: block;
}
details p{

    font-weight: normal;
    width: 1400px;
    display: block;
}
details a{
    text-decoration: none;
    font-size: 30px;
    color: red;
}
.second
{
background-color: #03a9f4;
}
.things{
    display: inline-block;
    width: 400px;
    height: 550px;
    border:black dotted; 
    margin-left: 230px;
    margin-bottom: 50px;

}
.itemsname {
    display: inline-block;
    position: relative;
    right: 250px;
    bottom:15px;
    margin: 0;
    padding:0;
    font-size: 20px;   
}
#info{
    display: inline-block;
    font-size: 20px;
    margin: 0;
    padding: 0;
    position: relative;

    bottom: 10px;
}
.things:hover{

    border:red solid;
    opacity: 50%; 
}
#info1{
    display: none;
    position: absolute;
    top: 400px;
    left: 250px;
    color: black;
    font-size: 60px;

}
#info2{
    display: none;
    position: absolute;
    top: 400px;
    left:935px;
    color: black;
    font-size: 60px;

}
#info3{
    display: none;
    position: absolute;
    top: 1000px;
    left: 250px;
    color: black;
    font-size: 60px;

}
#info4{
    display: none;
    position: absolute;
    top: 1000px;
    left: 935px;
    color: black;
    font-size: 60px;

}
#donateform{
    display: none;
}
#donatebody{
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat; background-color: black;
}
#donatebody footer{

    display: none;
}
#donateform div{
    top:100px;
    color: white;
}
#donateform input{
    color: white;
    border-bottom: 1px solid white;
}
#donateform textarea{
    color: white;
    border-bottom: 1px solid white;

}
#donateform select{
    color: white;
    border-bottom: 1px solid white;   
}
#another1{
    display: none;
}
#another2{
    display: none;
}
#another3{
    display: none;
}